body{
    padding: 0px;
    margin: 0px;
    border:none;
    background-color:lightskyblue;
    width: 100%;
}
#formulario{
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
}